[submodule "git/dash"]
	path = git/dash
	url = git@github.com:magnars/dash.el.git
[submodule "git/s"]
	path = git/s
	url = git@github.com:magnars/s.el.git
[submodule "git/ctable"]
	path = git/ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "git/deferred"]
	path = git/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "git/epc"]
	path = git/epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "git/eaf"]
	path = git/eaf
	url = git@github.com:manateelazycat/emacs-application-framework.git
[submodule "git/eclipse-theme"]
	path = git/eclipse-theme
	url = git@github.com:abo-abo/eclipse-theme.git
[submodule "git/ace-window"]
	path = git/ace-window
	url = git@github.com:abo-abo/ace-window
[submodule "git/avy"]
	path = git/avy
	url = git@github.com:abo-abo/avy.git
[submodule "git/lispy"]
	path = git/lispy
	url = git@github.com:abo-abo/lispy.git
[submodule "git/iedit"]
	path = git/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "git/swiper"]
	path = git/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "git/hydra"]
	path = git/hydra
	url = git@github.com:abo-abo/hydra
[submodule "git/lpy"]
	path = git/lpy
	url = git@github.com:abo-abo/lpy
[submodule "git/company-jedi"]
	path = git/company-jedi
	url = git@github.com:emacsorphanage/company-jedi
[submodule "git/python-environment"]
	path = git/python-environment
	url = git@github.com:tkf/emacs-python-environment
[submodule "git/compnay-mode"]
	path = git/compnay-mode
	url = git@github.com:company-mode/company-mode
[submodule "git/jedi"]
	path = git/jedi
	url = git@github.com:tkf/emacs-jedi
[submodule "git/zoutline"]
	path = git/zoutline
	url = git@github.com:abo-abo/zoutline
[submodule "git/auto-complete"]
	path = git/auto-complete
	url = git@github.com:auto-complete/auto-complete
[submodule "git/popup-el"]
	path = git/popup-el
	url = git@github.com:auto-complete/popup-el
