[submodule "git/dash"]
	path = git/dash
	url = git@github.com:magnars/dash.el.git
[submodule "git/s"]
	path = git/s
	url = git@github.com:magnars/s.el.git
[submodule "git/ctable"]
	path = git/ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "git/deferred"]
	path = git/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "git/epc"]
	path = git/epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "git/eclipse-theme"]
	path = git/eclipse-theme
	url = git@github.com:abo-abo/eclipse-theme.git
[submodule "git/ace-window"]
	path = git/ace-window
	url = git@github.com:abo-abo/ace-window
[submodule "git/avy"]
	path = git/avy
	url = git@github.com:abo-abo/avy.git
[submodule "git/lispy"]
	path = git/lispy
	url = git@github.com:abo-abo/lispy.git
[submodule "git/iedit"]
	path = git/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "git/swiper"]
	path = git/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "git/hydra"]
	path = git/hydra
	url = git@github.com:abo-abo/hydra
[submodule "git/lpy"]
	path = git/lpy
	url = git@github.com:abo-abo/lpy
[submodule "git/company-jedi"]
	path = git/company-jedi
	url = git@github.com:emacsorphanage/company-jedi
[submodule "git/python-environment"]
	path = git/python-environment
	url = git@github.com:tkf/emacs-python-environment
[submodule "git/compnay-mode"]
	path = git/compnay-mode
	url = git@github.com:company-mode/company-mode
[submodule "git/jedi"]
	path = git/jedi
	url = git@github.com:tkf/emacs-jedi
[submodule "git/zoutline"]
	path = git/zoutline
	url = git@github.com:abo-abo/zoutline
[submodule "git/auto-complete"]
	path = git/auto-complete
	url = git@github.com:auto-complete/auto-complete
[submodule "git/popup-el"]
	path = git/popup-el
	url = git@github.com:auto-complete/popup-el
[submodule "git/pyim"]
	path = git/pyim
	url = git@github.com:tumashu/pyim
[submodule "git/pyim-basedict"]
	path = git/pyim-basedict
	url = git@github.com:tumashu/pyim-basedict
[submodule "git/pyim-cangjie5dict"]
	path = git/pyim-cangjie5dict
	url = git@github.com:tumashu/pyim-cangjie5dict
[submodule "git/xr"]
	path = git/xr
	url = git@github.com:mattiase/xr
[submodule "git/sdcv"]
	path = git/sdcv
	url = git@github.com:manateelazycat/sdcv
[submodule "git/posframe"]
	path = git/posframe
	url = git@github.com:tumashu/posframe
[submodule "git/names"]
	path = git/names
	url = git@github.com:Malabarba/names
[submodule "git/org-latex-impatient"]
	path = git/org-latex-impatient
	url = git@github.com:yangsheng6810/org-latex-impatient
[submodule "git/whicher"]
	path = git/whicher
	url = git@github.com:abo-abo/whicher
[submodule "git/smex"]
	path = git/smex
	url = git@github.com:abo-abo/smex
[submodule "git/diminish"]
	path = git/diminish
	url = git@github.com:myrjola/diminish.el
[submodule "git/tiny"]
	path = git/tiny
	url = git@github.com:abo-abo/tiny
[submodule "git/yasnippet"]
	path = git/yasnippet
	url = git@github.com:joaotavora/yasnippet
[submodule "git/auto-yasnippet"]
	path = git/auto-yasnippet
	url = git@github.com:abo-abo/auto-yasnippet
[submodule "git/powerline"]
	path = git/powerline
	url = git@github.com:milkypostman/powerline
[submodule "git/helm-j-cheatsheet"]
	path = git/helm-j-cheatsheet
	url = git@github.com:abo-abo/helm-j-cheatsheet
[submodule "git/helm"]
	path = git/helm
	url = git@github.com:emacs-helm/helm
[submodule "git/async"]
	path = git/async
	url = git@github.com:jwiegley/emacs-async
[submodule "git/pamparam"]
	path = git/pamparam
	url = git@github.com:abo-abo/pamparam
[submodule "git/worf"]
	path = git/worf
	url = git@github.com:abo-abo/worf
[submodule "git/ace-link"]
	path = git/ace-link
	url = git@github.com:abo-abo/ace-link
[submodule "git/helm-make"]
	path = git/helm-make
	url = git@github.com:abo-abo/helm-make
[submodule "git/projectile"]
	path = git/projectile
	url = git@github.com:bbatsov/projectile
[submodule "git/find-file-in-project"]
	path = git/find-file-in-project
	url = git@github.com:redguardtoo/find-file-in-project
[submodule "git/magit"]
	path = git/magit
	url = git@github.com:magit/magit
[submodule "git/transient"]
	path = git/transient
	url = git@github.com:magit/transient
[submodule "git/with-editor"]
	path = git/with-editor
	url = git@github.com:magit/with-editor
[submodule "git/htmlize"]
	path = git/htmlize
	url = git@github.com:abo-abo/htmlize
[submodule "git/geiser"]
	path = git/geiser
	url = git@github.com:emacsmirror/geiser
[submodule "pdf-tools"]
	path = pdf-tools
	url = git@github.com:politza/pdf-tools
[submodule "git/pdf-tools"]
	path = git/pdf-tools
	url = git@github.com:politza/pdf-tools
[submodule "git/aweshell"]
	path = git/aweshell
	url = git@github.com:manateelazycat/aweshell
[submodule "git/emacs-application-framework"]
	path = git/emacs-application-framework
	url = git@github.com:emacs-eaf/emacs-application-framework.git
[submodule "git/flycheck"]
	path = git/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "geiser-chez"]
	path = geiser-chez
	url = git@github.com:emacsmirror/geiser-chez